<form (ngSubmit)="login()">
  <h2 class="mb-3">Accedi</h2>

  <div class="mb-3 d-flex">
    <i class="bi bi-person-fill fs-3"></i>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      [(ngModel)]="formData.username"
      name="username"
      required
    />
  </div>

  <div class="mb-3 d-flex">
    <i class="bi bi-shield-lock-fill fs-3"></i>
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      [(ngModel)]="formData.password"
      name="password"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary w-100 mb-2">Accedi</button>
  <button type="button" class="btn btn-primary w-100" (click)="onClose()">
    Chiudi
  </button>
</form>
