<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="username"
      name="username"
      [(ngModel)]="formData.username"
      required
    />
    <input
      type="password"
      class="form-control mb-3"
      placeholder="Password"
      name="password"
      [(ngModel)]="formData.password"
      required
    />
    <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">
      Accedi
    </button>
  </form>
</div>
