/* Stili per i bottoni */
.btn {
  border-radius: 50px;
}

/* Stili per i campi del form */
.form-control,
.form-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}

/* Stili per il contenitore del form */

/* Stili per le etichette */
label {
  font-weight: 600;
  color: #033b3a;
}

/* Stili per i gruppi di form */
.form-group {
  margin-bottom: 1.5rem;
}
