<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form [formGroup]="form" (ngSubmit)="register($event)">
        <!-- Step 1 -->
        <div *ngIf="currentStep === 1">
          <div class="form-group">
            <label for="userType">Tipo di utente</label>
            <select
              id="userType"
              formControlName="userType"
              class="form-control text-center"
            >
              <option value="user">Utente</option>
              <option value="reseller">Rivenditore</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Nome</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="surname">Cognome</label>
            <input
              type="text"
              id="surname"
              formControlName="surname"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Numero di telefono</label>
            <input
              type="text"
              id="phoneNumber"
              formControlName="phoneNumber"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
            />
          </div>
          <button type="button" class="btn btn-primary" (click)="goToStep(2)">
            Avanti
          </button>
        </div>

        <!-- Step 2 -->
        <div *ngIf="currentStep === 2">
          <div *ngIf="form.get('userType')?.value === 'reseller'">
            <div class="form-group">
              <label for="ragioneSociale">Ragione Sociale</label>
              <input
                type="text"
                id="ragioneSociale"
                formControlName="ragioneSociale"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="partitaIva">Partita IVA</label>
              <input
                type="text"
                id="partitaIva"
                formControlName="partitaIva"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="sitoWeb">Sito Web</label>
              <input
                type="text"
                id="sitoWeb"
                formControlName="sitoWeb"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="avatar">Avatar</label>
            <input
              type="file"
              id="avatar"
              (change)="onFileChange($event)"
              class="form-control"
            />
          </div>
          <button type="button" class="btn btn-secondary" (click)="goToStep(1)">
            Indietro
          </button>
          <button type="submit" class="btn btn-primary">Registrati</button>
        </div>
      </form>
    </div>
  </div>
</div>
