<nav class="navbar navbar-expand-lg bg-transparent border-bottom border-body">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- tasto home -->
    <a class="navbar-brand" href="/user">
      <i class="bi bi-house-door-fill" style="font-size: 1.75rem"></i>
    </a>

    <!-- RaikoParts al centro -->
    <div class="navbar-brand mx-auto">
      <a
        class="navbar-brand fs-1 d-flex justify-content-center"
        href="/user/home"
      >
        <img src="/assets/logo2.png" alt="RaikoParts Logo" />
      </a>
    </div>

    <!-- Icone a destra -->
    <div class="d-flex align-items-center">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-row">
        <!-- tasto notifiche -->
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <i class="bi bi-bell-fill" style="font-size: 1.75rem"></i>
          </a>
        </li>

        <!-- icona preferiti -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-bookmark-heart" style="font-size: 1.75rem"></i>
          </a>
        </li>

        <!-- dropdown User -->
        <li class="nav-item dropdown me-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle" style="font-size: 1.75rem"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/user-page">Account</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Preferiti</a></li>
            <li>
              <button
                class="btn btn-outline-success w-100"
                (click)="logout()"
                type="submit"
              >
                <i class="bi bi-box-arrow-right"></i> Logout
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Pulsanti di login e registrazione -->
    <div *ngIf="!isLoggedIn" class="d-flex">
      <button
        class="btn btn-outline-success me-2"
        routerLink="/auth/login"
        type="submit"
      >
        Login
      </button>
      <button
        class="btn btn-outline-success"
        routerLink="/auth/register"
        type="submit"
      >
        Register
      </button>
    </div>
    <div *ngIf="isLoggedIn"></div>
  </div>
</nav>
