<nav class="navbar navbar-expand-lg navbar-custom" *ngIf="isLoggedIn">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- Tasto Home -->
    <a class="navbar-brand" routerLink="/user">
      <i class="bi bi-house-door-fill"></i>
    </a>

    <!-- Logo centrato -->
    <a class="navbar-brand mx-auto" routerLink="/user/home">
      <img src="/assets/logo2.png" alt="RaikoParts Logo" />
    </a>

    <!-- Icone a destra -->
    <div class="d-flex align-items-center">
      <ul class="navbar-nav flex-row mb-0">
        <!-- Notifiche -->
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/user/notifications">
            <i class="bi bi-bell-fill"></i>
          </a>
        </li>

        <!-- Preferiti -->
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/user/favourites">
            <i class="bi bi-bookmark-heart"></i>
          </a>
        </li>

        <!-- Dropdown Utente -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li *ngIf="userRole === 'ROLE_RESELLER'">
              <a class="dropdown-item" routerLink="/reseller">Account</a>
            </li>
            <li *ngIf="userRole === 'ROLE_USER'">
              <a class="dropdown-item" routerLink="/user/user-page">Account</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user/settings">Settings</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/user/favourites"
                >Preferiti</a
              >
            </li>
            <li>
              <button class="dropdown-item btn-logout" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i> Logout
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
