<div class="container-fluid">
  <div class="row footer-row">
    <!-- Info Column -->
    <div class="col-md-3 footer-info">
      <img src="/assets/logo.png" alt="logo" />
      <p class="mt-2 mb-0">Designed and developed by R. Santilli</p>
      <p>Current v1.0.2</p>
    </div>
    <!-- Links & Documentation Column -->
    <div class="col-md-3 footer-links">
      <h4>Links &amp; Documentation</h4>
      <ul>
        <li><a href="/user">Home</a></li>
        <li class="d-flex">
          Contact Us: <i class="bi bi-envelope px-1"></i>
          <a href="#">
            <span>riccardosantilli&#64;live.it</span>
          </a>
        </li>
        <li>
          <a
            href="https://tame-aurel-rik991-3ce4f269.koyeb.app/swagger-ui/index.html#/"
            target="_blank"
          >
            API Documentation (SWAGGER)
          </a>
        </li>
      </ul>
    </div>
    <!-- Follow Us Column -->
    <div class="col-md-3 footer-social">
      <h4>Follow Us</h4>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/riccardo-santilli91"
            target="_blank"
            ><i class="bi bi-linkedin"></i> LinkedIn</a
          >
        </li>
        <li>
          <a href="#"><i class="bi bi-facebook"></i> Facebook</a>
        </li>
        <li>
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
        </li>
      </ul>
    </div>
    <!-- Technologies Column -->
    <div class="col-md-3 footer-tech">
      <h4>Technologies</h4>
      <ul class="tech-list">
        <li><i class="bi bi-bootstrap-fill"></i> Bootstrap</li>
        <li><i class="bi bi-file-code"></i> Angular</li>
        <li><i class="bi bi-server"></i> Spring Boot</li>
        <li><i class="bi bi-database-fill"></i> PostgreSQL</li>
        <!-- Aggiungi altre tecnologie qui -->
      </ul>
    </div>
  </div>
</div>
