<div class="search-icon text-center" (click)="toggleFilters()">
  <i class="bi bi-search fs-2"></i>
</div>

<div
  class="search-container p-2 bg-transparent rounded-3 mb-4"
  [ngClass]="{ 'd-none': !isExpanded }"
>
  <form [formGroup]="searchForm" class="row g-3 d-flex justify-content-between">
    <div class="col-12 col-md-6">
      <div class="form-floating">
        <input
          type="text"
          formControlName="search"
          class="form-control"
          id="search"
          placeholder="Cerca..."
        />
        <label for="search">Cerca per nome, codice o descrizione</label>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="form-floating">
        <select
          formControlName="condizione"
          class="form-select"
          id="condizione"
        >
          <option value="">Qualsiasi</option>
          <option value="NUOVO">Nuovo</option>
          <option value="USATO">Usato</option>
          <option value="RICONDIZIONATO">Ricondizionato</option>
        </select>
        <label for="condizione">Condizione</label>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center">
      <button
        type="button"
        class="btn btn-secondary w-100 py-3"
        (click)="resetForm()"
      >
        <i class="bi bi-arrow-counterclockwise me-2"></i>
        Reset filtri
      </button>
    </div>

    <!-- Icona per espandere i filtri avanzati -->
    <div class="col-12 text-center mt-3">
      <button
        type="button"
        class="btn btn-link"
        (click)="toggleAdvancedFilters()"
      >
        <i
          [ngClass]="{
            'bi bi-chevron-down': !isFiltersExpanded,
            'bi bi-chevron-up': isFiltersExpanded
          }"
          style="font-size: 1.5rem"
        ></i>
        Filtri avanzati
      </button>
    </div>

    <!-- Filtri avanzati nascosti ed espandibili -->
    <div class="col-12" [ngClass]="{ 'd-none': !isFiltersExpanded }">
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-floating">
            <input
              type="text"
              formControlName="codiceOe"
              class="form-control"
              id="codiceOe"
              placeholder="Codice OE"
            />
            <label for="codiceOe">Codice OE</label>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-floating">
            <select
              formControlName="marca"
              class="form-select"
              id="marca"
              (change)="onBrandSelected($event)"
            >
              <option value="">Seleziona...</option>
              <option *ngFor="let brand of brands" [value]="brand">
                {{ brand }}
              </option>
            </select>
            <label for="marca">Marca</label>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-floating">
            <input
              type="number"
              formControlName="minPrezzo"
              class="form-control"
              id="minPrezzo"
              placeholder="Prezzo minimo"
              min="0"
            />
            <label for="minPrezzo">Prezzo minimo</label>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-floating">
            <input
              type="number"
              formControlName="maxPrezzo"
              class="form-control"
              id="maxPrezzo"
              placeholder="Prezzo massimo"
              min="0"
            />
            <label for="maxPrezzo">Prezzo massimo</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
