<div class="search-container p-3 bg-light rounded-3 mb-4 shadow">
  <form [formGroup]="searchForm" class="row g-3">
    <!-- Search Bar -->
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="input-group">
        <span class="input-group-text" id="search-icon">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          formControlName="search"
          class="form-control"
          id="search"
          placeholder="Cerca per nome, codice o descrizione"
          aria-describedby="search-icon"
        />
      </div>
    </div>

    <!-- Condition Filter -->
    <div class="col-12 col-md-6 col-lg-3 mb-3 mb-lg-0">
      <select formControlName="condizione" class="form-select" id="condizione">
        <option value="">Qualsiasi</option>
        <option value="NUOVO">Nuovo</option>
        <option value="USATO">Usato</option>
        <option value="RICONDIZIONATO">Ricondizionato</option>
      </select>
    </div>

    <!-- Reset and Advanced Filters Button -->
    <div
      class="col-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-end"
    >
      <button
        type="button"
        class="btn btn-secondary me-2"
        (click)="resetForm()"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="toggleAdvancedFilters()"
      >
        <i
          [ngClass]="{
            'bi bi-chevron-down': !isFiltersExpanded,
            'bi bi-chevron-up': isFiltersExpanded
          }"
        ></i>
        Filtri avanzati
      </button>
    </div>

    <!-- Advanced Filters -->
    <div class="col-12 mt-3" [ngClass]="{ 'd-none': !isFiltersExpanded }">
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
          <input
            type="text"
            formControlName="codiceOe"
            class="form-control"
            id="codiceOe"
            placeholder="Codice OE"
          />
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <select
            formControlName="marca"
            class="form-select"
            id="marca"
            (change)="onBrandSelected($event)"
          >
            <option value="">Seleziona marca...</option>
            <option *ngFor="let brand of brands" [value]="brand">
              {{ brand }}
            </option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <input
            type="number"
            formControlName="minPrezzo"
            class="form-control"
            id="minPrezzo"
            placeholder="Prezzo minimo"
            min="0"
          />
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <input
            type="number"
            formControlName="maxPrezzo"
            class="form-control"
            id="maxPrezzo"
            placeholder="Prezzo massimo"
            min="0"
          />
        </div>
      </div>
    </div>
  </form>
</div>
