<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- Titoli centrati -->
    <div class="col-12">
      <h1 class="text-center">Benvenuto in RaikoParts</h1>
      <div class="text-center mb-5">
        <h3>Cliente, professionista e venditore</h3>
        <h2 class="fs-1">In un unico spazio</h2>
      </div>
    </div>

    <!-- Sezione immagini a sinistra -->
    <div class="col-md-6 col-12 d-flex flex-column gap-3 animate-left">
      <!-- Blocco 1 -->
      <div class="image-block">
        <div
          class="img-container position-relative border-bottom border-black pb-1"
        >
          <img src="assets/landing3.jpg" alt="landingImg" class="landing-img" />
          <p class="position-absolute bottom-0 start-0 m-1 landing-badge">
            Acquista
          </p>
        </div>
        <div class="image-text">
          <h2>Rivoluziona i tuoi acquisti</h2>
        </div>
      </div>
      <!-- Blocco 2 -->
      <div class="image-block">
        <div
          class="img-container position-relative border-bottom border-black pb-1"
        >
          <img src="assets/landing1.jpg" alt="landingImg" class="landing-img" />
          <p class="position-absolute bottom-0 start-0 m-1 landing-badge">
            Vendi
          </p>
        </div>
        <div class="image-text">
          <h2>Rivoluziona la tua attività</h2>
        </div>
      </div>
      <!-- Blocco 3 -->
      <div class="image-block">
        <div
          class="img-container position-relative border-bottom border-black pb-1"
        >
          <img src="assets/landing2.jpg" alt="landingImg" class="landing-img" />
          <p class="position-absolute bottom-0 start-0 m-1 landing-badge">
            Risparmia
          </p>
        </div>
        <div class="image-text">
          <h2>Rivoluziona il concetto di Shop Online</h2>
        </div>
      </div>
    </div>

    <!-- Sezione login a destra -->
    <div class="col-md-4 col-12 text-center animate-right my-auto">
      <div *ngIf="!isLoggedIn && !currentForm" class="mb-4">
        <div class="btn-group">
          <button type="button" class="btn" (click)="showForm('login')">
            Accedi
          </button>
          <button type="button" class="btn" (click)="showForm('register')">
            Registrati
          </button>
        </div>
      </div>
      <div *ngIf="currentForm" class="mt-4">
        <div class="card mx-auto shadow-sm cardForm">
          <div class="card-body">
            <ng-container [ngSwitch]="currentForm">
              <app-login
                *ngSwitchCase="'login'"
                (close)="hideForm()"
              ></app-login>
              <app-register
                *ngSwitchCase="'register'"
                (close)="hideForm()"
              ></app-register>
            </ng-container>
          </div>
        </div>
      </div>
      <img src="assets/logo2.png" alt="Logo" class="img-fluid mb-4 logo" />
    </div>
  </div>
</div>
