<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <img src="/assets/logo2.png" alt="logo" class="logo" />
      <!-- bottoni mobile  -->
      <div>
        <div *ngIf="!isLoggedIn && !currentForm" class="mb-4 col-12 d-lg-none">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-primary"
              (click)="showForm('login')"
            >
              Accedi
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="showForm('register')"
            >
              Registrati
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Sezione immagini a sinistra -->
    <div class="col-md-6 col-12 d-flex flex-column gap-3 animate-left">
      <!-- Blocchi immagine (stesso codice) -->
      <div class="image-block">
        <div
          class="img-container position-relative border-bottom border-black pb-1"
        >
          <img src="assets/landing3.jpg" alt="landingImg" class="landing-img" />
          <p class="position-absolute bottom-0 start-0 m-1 landing-badge">
            Cerca
          </p>
        </div>
        <div class="image-text">
          <h2>Cerca tra centinaia di articoli</h2>
          <h4 class="d-none d-lg-block">Nuovi, usati e ricondizionati</h4>
        </div>
      </div>
      <div class="image-block">
        <div
          class="img-container position-relative border-bottom border-black pb-1"
        >
          <img src="assets/landing1.jpg" alt="landingImg" class="landing-img" />
          <p class="position-absolute bottom-0 start-0 m-1 landing-badge">
            Mostra
          </p>
        </div>
        <div class="image-text">
          <h2>Condividi o crea il tuo catalogo!</h2>
          <h4 class="d-none d-lg-block">
            Carica i tuoi articoli anche da smartphone
          </h4>
          <h5 class="d-none d-lg-block">
            O condividi il tuo catalogo tramite API
          </h5>
        </div>
      </div>
      <div class="image-block">
        <div
          class="img-container position-relative border-bottom border-black pb-1"
        >
          <img src="assets/landing2.jpg" alt="landingImg" class="landing-img" />
          <p class="position-absolute bottom-0 start-0 m-1 landing-badge">
            Risparmia
          </p>
        </div>
        <div class="image-text">
          <h2>Il ricambio giusto aspetta solo te!</h2>
          <h4 class="d-none d-lg-block">Cosa aspetti! Inizia a risparmiare</h4>
        </div>
      </div>
    </div>

    <!-- Sezione login a destra con background per desktop -->
    <div
      class="d-none d-lg-block col-md-4 col-12 text-center animate-right my-auto login-section"
    >
      <!-- Bottoni di login/registrazione -->
      <div *ngIf="!isLoggedIn && !currentForm" class="mb-4">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary"
            (click)="showForm('login')"
          >
            Accedi
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="showForm('register')"
          >
            Registrati
          </button>
        </div>
      </div>
      <!-- Form per desktop, posizionato sotto i bottoni -->
      <div *ngIf="currentForm" class="desktop-modal mt-3">
        <div class="card shadow-sm cardForm">
          <div class="card-body">
            <ng-container [ngSwitch]="currentForm">
              <app-login
                *ngSwitchCase="'login'"
                (close)="hideForm()"
              ></app-login>
              <app-register
                *ngSwitchCase="'register'"
                (close)="hideForm()"
              ></app-register>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal overlay per dispositivi mobile -->
    <div
      *ngIf="currentForm"
      class="modal-overlay d-lg-none"
      (click)="hideForm()"
    >
      <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="card shadow-sm cardForm">
          <div class="card-body">
            <ng-container [ngSwitch]="currentForm">
              <app-login
                *ngSwitchCase="'login'"
                (close)="hideForm()"
              ></app-login>
              <app-register
                *ngSwitchCase="'register'"
                (close)="hideForm()"
              ></app-register>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
