@import "bootstrap/scss/bootstrap";

body {
  background: linear-gradient(to bottom, #6ff0c9, #97fef2, #a3ffcf);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); // Colore bianco semi-trasparente
  z-index: -1;
}

h1,
h2,
h3 {
  color: #033b3a;
}
