/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(to bottom, #f4f6f5, #97fef2, #a3ffcf);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
